[Unit]
Description=Run hosts file manager every 5 minutes
Requires=hosts-watcher.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target